.texterouge{
    color: red;
    font-size: 100px;
}

.image {
    width:50%;
    height: 50%;
    margin-left: 25%;
}
.bgc{
    background-color: green;
}
.p1{
    font: small-caps bold 24px/1 sans-serif;


}